<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sergeykozhukhov.animationexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Anim_7_SharedElement"></activity>
        <activity android:name=".Anim_5_Custom" />
        <activity android:name=".Anim_2_View" />
        <activity android:name=".Anim_3_Value" />
        <activity android:name=".Anim_8_Transition" />
        <activity android:name=".Anim_6_Scene" />
        <activity android:name=".Anim_4_Object" />
        <activity android:name=".Anim_1_Drawable" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>